@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #F7F7F7;
  font-family: open sans;
}

/* .img-class{
  transition: all 200ms ease-in-out;

}

.broker-button:hover .img-class{
  transform: scale(1.025);
} */